body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #1f1f1f;
  color: #fff;
  overflow: hidden;
}

header {
  background-color: #242424;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
}

h1 {
  margin: 0;
  color: #fff;
}

main {
  display: flex;
  height: calc(100% - 80px); /* Altura total menos la altura del header */
  width: 100%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 0;
  width: 100%;
  height: 100%;
}

.info-section {
  width: 20%;
  min-width: 250px;
  background-color: #242424;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-card {
  background-color: #2b2b2b;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.floating-button {
  margin-top: 10%;
  padding: 10px 20px;
  background-color: #1dbf73;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.floating-button:hover {
  background-color: #17a65b;
}

.traffic-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 40%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.background-image {
  width: 100%;
  height: 100%;
  background-image: url("../css/Imagenes/int6.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.traffic-system {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.light {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin: 4px auto;
  background-color: #bbb;
}

.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
.green-2 {
  background-color: green;
}

.pedestrian-light,
.traffic-light {
  background-color: #333;
  padding: 0.5%;
  border-radius: 10px;
}

.pedestrian-light {
  display: flex;
  flex-direction: column;
}

.traffic-light {
  display: flex;
  flex-direction: row;
}

/* Ajustar las posiciones específicas de los semáforos según sea necesario */
.selector{
  box-shadow: 2px 2px 8px 0 rgb(239, 115, 253), 4px 4px 16px 0 rgb(233, 56, 56), 0px 0px 24px 2px rgb(49, 95, 248);
}

.SP1 {
  position: absolute;
  top: 24%;
  right: 59%;
}

.text-lights{
  position: absolute;
  font-family: Arial, sans-serif; /* Establece Arial como la fuente y sans-serif como fallback */
  font-size: 100%; /* Tamaño del texto */
  /* Color del texto, cambia a 'black' si prefieres negro */
}
.TSP1{
  top: 17%;
  right: 59%;
  color: black;
  text-shadow:    -1px 1px 0px black;/* Sombra de texto para mejorar la legibilidad en fondos claros si el texto es blanco */
  
}

.SV1 {
  position: absolute;
  top: 29%;
  right: 52%;
}

.TSV1{
  top: 35%;
  right: 53.5%;
  color: black;
  text-shadow:    -1px 1px 0px black;/* Sombra de texto para mejorar la legibilidad en fondos claros si el texto es blanco */

}

.SP2 {
  position: absolute;
  top: 22%;
  right: 48%;
}


.TSP2{
  top: 15%;
  right: 48%;
  color: black;
  text-shadow:    -1px 1px 0px black;/* Sombra de texto para mejorar la legibilidad en fondos claros si el texto es blanco */

}


.SP3 {
  position: absolute;
  top: 22%;
  right: 45%;
}

.TSP3{
  top: 15%;
  right: 45%;
  color: black;
  text-shadow:    -1px 1px 0px black;/* Sombra de texto para mejorar la legibilidad en fondos claros si el texto es blanco */

}
.SV2 {
  /* 4 luces*/
  position: absolute;
  top: 34%;
  left: 53%;
}

.TSV2{
  top: 40%;
  right: 42%;
  color: black;
  text-shadow:    -1px 1px 0px black;/* Sombra de texto para mejorar la legibilidad en fondos claros si el texto es blanco */

}
.SP4 {
  position: absolute;
  top: 40%;
  right: 34%;
}

.TSP4{
  top: 34%;
  right: 34%;
  color: black;
  text-shadow:    -1px 1px 0px black;/* Sombra de texto para mejorar la legibilidad en fondos claros si el texto es blanco */

}

.SV3 {
  position: absolute;
  top: 50.25%;
  right:36%;
  transform: rotate(90deg);
}

.TSV3{
  top: 58%;
  right: 37.5%;
  color: black;
  text-shadow:    -1px 1px 0px black;/* Sombra de texto para mejorar la legibilidad en fondos claros si el texto es blanco */

}


.SP5 {
  position: absolute;
  top: 72%;
  right: 38%;
}

.TSP5{
  top: 72%;
  right: 35%;
  color: black;
  text-shadow:    -1px 1px 0px black;/* Sombra de texto para mejorar la legibilidad en fondos claros si el texto es blanco */

}


.SP6 {
  position: absolute;
  top: 68%;
  right: 49%;
}

.TSP6{
  top: 77%;
  right: 48%;
  color: black;
  text-shadow:    -1px 1px 0px black;/* Sombra de texto para mejorar la legibilidad en fondos claros si el texto es blanco */

}

.SP7 {
  position: absolute;
  top: 68%;
  right: 52%;
}

.TSP7{
  top: 77%;
  right: 52%;
  color: black;
  text-shadow:    -1px 1px 0px black;/* Sombra de texto para mejorar la legibilidad en fondos claros si el texto es blanco */
}


.SP8 {
  position: absolute;
  top: 60%;
  right: 63%;
}

.TSP8{
  top: 69%;
  right: 63%;
  color: black;
  text-shadow:    -1px 1px 0px black;/* Sombra de texto para mejorar la legibilidad en fondos claros si el texto es blanco */
}


.SV4 {
  position: absolute;
  top: 51%;
  right: 60%;
  transform: rotate(90deg);
}

.TSV4{
  top: 51%;
  right: 58%;
  color: black;
  text-shadow:    -1px 1px 0px black;/* Sombra de texto para mejorar la legibilidad en fondos claros si el texto es blanco */
}



.ambulance {
  position: absolute;
  width: 8%; /* Ajusta el tamaño según tus necesidades */
  height: auto; /* Mantiene la proporción de la imagen */
  z-index: 10; /* Asegúrate de que la ambulancia esté sobre otros elementos */
  
}

.west{
  top: 50%; /* Puedes ajustar estos valores según necesites */
  left: 30%; /* Puedes ajustar estos valores según necesites */  
  transform: translate(-50%, -50%) scaleX(-1); /* Centra la imagen en (top, left) */
}

.east{
  top: 55%; /* Puedes ajustar estos valores según necesites */
  left: 70%; /* Puedes ajustar estos valores según necesites */
  transform: translate(-50%, -50%); /* Centra la imagen en (top, left) */
  transform: rotate(20deg);
}

.south{
  top: 84%; /* Puedes ajustar estos valores según necesites */
  left: 50%; /* Puedes ajustar estos valores según necesites */
  transform: translate(-50%, -50%); /* Centra la imagen en (top, left) */
  transform: rotate(100deg);
}

.north{
  top: 10%; /* Puedes ajustar estos valores según necesites */
  left: 42%; /* Puedes ajustar estos valores según necesites */
  transform: translate(-50%, -50%); /* Centra la imagen en (top, left) */
  transform: rotate(279deg);
}

