body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #1f1f1f;
  color: #fff;
  overflow: hidden;
}

header {
  background-color: #242424;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
}

h1 {
  margin: 0;
  color: #fff;
}

main {
  display: flex;
  height: calc(100% - 80px); /* Altura total menos la altura del header */
  width: 100%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 0;
  width: 100%;
  height: 100%;
}

.info-section {
  width: 20%;
  min-width: 250px;
  background-color: #242424;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-card {
  background-color: #2b2b2b;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.floating-button {
  margin-top: 10%;
  padding: 10px 20px;
  background-color: #1dbf73;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.floating-button:hover {
  background-color: #17a65b;
}

.traffic-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 70%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  max-width: 100%; /* Ensure the container doesn't exceed the viewport width */
}

.background-image {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("/MM-Semaforo/css/Imagenes/int4.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.traffic-system {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.light {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  margin: 4px auto;
  background-color: #bbb;
}

.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
.green-2 {
  background-color: green;
}

.pedestrian-light,
.traffic-light {
  background-color: #333;
  padding: 0.6%;
  border-radius: 10px;
}

.pedestrian-light {
  display: flex;
  flex-direction: column;
}

.traffic-light {
  display: flex;
  flex-direction: row;
}

/* Ajustar las posiciones específicas de los semáforos según sea necesario */
.SP1 {
  position: absolute;
  top: 24%;
  right: 61%;
}
.SV1 {
  position: absolute;
  top: 30%;
  right: 52%;
}
.SP2 {
  position: absolute;
  top: 24%;
  right: 48%;
}
.SP3 {
  position: absolute;
  top: 24%;
  right: 44%;
}
.SV2 {
  /* 4 luces*/
  position: absolute;
  top: 34%;
  left: 54%;
}
.SP4 {
  position: absolute;
  top: 40%;
  right: 31%;
}
.SV3 {
  position: absolute;
  top: 49.25%;
  right:33%;
  transform: rotate(90deg);
}
.SP5 {
  position: absolute;
  top: 72%;
  right: 36%;
}
.SP6 {
  position: absolute;
  top: 68%;
  right: 49%;
}
.SP7 {
  position: absolute;
  top: 68%;
  right: 53%;
}
.SP8 {
  position: absolute;
  top: 60%;
  right: 65%;
}
.SV4 {
  position: absolute;
  top: 51%;
  right: 62%;
  transform: rotate(90deg);
}
